.btn {
  &, /* Adding &, => This will also work for button now */
  /* Pseudo classes */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 1s;
    position: relative;
    font-size: 1.6rem;

    // change for button
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    /* x-axes = 0, y-axes = 10px, blur = 20px, rgba(0,0,0,.2) = black with 20% transparancy */
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    /* When we hover the button, add style to after pseudo element */
    &::after {
      //&::after == .btn:hover::after
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  /* :focus and outline => these are only for normal button element */
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 1.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.6s;
  }

  &--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    /* @keyframes 0% styles will be applied before the animation starts */
    animation-fill-mode: backwards;
  }
}

.btn-text {
  color: $color-primary;
  &:link,
  visited {
    text-decoration: none;
    font-size: $default-font-size;
    display: inline-block;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
    padding: 3px;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-2px);
    box-shadow: 0 0.1rem 2rem $color-primary-light-alpha8;
  }
  /* When the button is pressed /clicked */
  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem $color-primary-light-alpha8;
  }
}
