.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  /* 
      if the children elements are floted / absolute position, we must give
      height to parent element as its height collapses
      We did it because we were not seeeing perspective effect
    */
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    left: 0;
    top: 0;
    /* 
      if the children elements are floted / absolute position, we must give
      width to parent element as it doesn't take entire width
    */
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    /* Background image was over flowing so rounded corner wa not showing
    this is a fix to that */
    overflow: hidden;

    &--front {
      background-color: $color-white;
      backface-visibility: hidden;
    }

    /* By default, we set back card to 180 degree */
    &--back {
      transform: rotateY(180deg);
        
      /* Card 1*/
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      /* Card 2*/
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
      /* Card 3*/
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  /* When the card is hovered then the __side is tranformed */
  /* &:hove &__side = .card:hover .card__side */
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  /* On hover setting the card back to 0 degree */
  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../img/nato-4.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-dark,
          $color-primary-light
        ),
        url(../../img/nato-5.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../img/nato-6.jpg);
    }
  }
  /* Card Heading */
  &__heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 14rem;
    right: 2rem;
    text-align: right;
    width: 63%;
    word-spacing: 0.5rem;
  }
  &__heading-span {
    padding: 0.5rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        /* style all "except the last <li>" */
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem;
  }

  /* Media Query */
  @include respond(tab-port) {
    /* 
        if the children elements are floted / absolute position, we must give
        height to parent element as its height collapses
        We did it because we were not seeeing perspective effect
      */
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      transition: all 0.8s ease;
      position: relative;

      /* 
        if the children elements are floted / absolute position, we must give
        width to parent element as it doesn't take entire width
      */
      width: 100%;
      backface-visibility: hidden;
      box-shadow: none;

      /* By default, we set back card to 180 degree */
      &--back {
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
        margin-top: -1rem;
      }
    }

    /* When the card is hoved then the __side is tranformed */
    /* &:hove &__side = .card:hover .card__side */
    &:hover &__side--front {
      transform: rotateY(0);
    }
    /* On hover setting the back card to 0 degree */
    &:hover &__side--back {
      transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
      height: 28rem;
    }

    &__details {
      padding: 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 0 4rem;
    }

    &__details {
      padding: 3rem;
    }

    &__price-box {
      margin-bottom: 8rem;
    }

    &__price-only {
      font-size: 1.4rem;
    }

    &__price-value {
      margin-bottom: 3rem;
    }
  }
}
